<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sector4f.pananda" version="1.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Panandâ</name>
    <description>
        App to explore the National Historical Commission of the Philippines historical markers.
    </description>
    <author email="seav80@gmail.com" href="http://www.sector4f.com">
        Eugene Alvin Villar
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="cdvfile://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="cdvfile://*" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarBackgroundColor" value="#112233" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="HeaderColor" value="#224466" />
    <preference name="android-minSdkVersion" value="21" />
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/36.png" />
        <icon density="mdpi" src="res/icon/android/48.png" />
        <icon density="hdpi" src="res/icon/android/72.png" />
        <icon density="xhdpi" src="res/icon/android/96.png" />
        <icon density="xxhdpi" src="res/icon/android/144.png" />
        <icon density="xxxhdpi" src="res/icon/android/192.png" />
        <splash density="port-hdpi" src="res/screen/android/splash.png" />
        <splash density="port-ldpi" src="res/screen/android/splash.png" />
        <splash density="port-mdpi" src="res/screen/android/splash.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash.png" />
    </platform>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin name="cordova-plugin-file" spec="~6.0.1" />
    <plugin name="cordova-plugin-device" spec="~2.0.2" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.7.1" />
    <plugin name="cordova-plugin-geolocation" spec="~4.0.1" />
    <plugin name="cordova-plugin-android-gpsdetect" spec="~0.0.3" />
    <plugin name="cordova-plugin-headercolor" spec="1.0" />
    <engine name="android" spec="^7.1.4" />
</widget>
