<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sector4f.pananda" version="1.11.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Panandâ</name>
    <description>Explore the NHCP historical markers of the Philippines</description>
    <author email="info@sector4f.com" href="https://www.sector4f.com">Sector4F</author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="cdvfile://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="cdvfile://*" />
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarBackgroundColor" value="#112233" />
    <preference name="NavigationBarBackgroundColor" value="#112233" />
    <preference name="SplashScreen" value="screen" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="HeaderColor" value="#224466" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <platform name="android">
        <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <icon background="@color/background" density="ldpi" foreground="res/icon/android/36-adaptive-fg.png" src="res/icon/android/36.png" />
        <icon background="@color/background" density="mdpi" foreground="res/icon/android/48-adaptive-fg.png" src="res/icon/android/48.png" />
        <icon background="@color/background" density="hdpi" foreground="res/icon/android/72-adaptive-fg.png" src="res/icon/android/72.png" />
        <icon background="@color/background" density="xhdpi" foreground="res/icon/android/96-adaptive-fg.png" src="res/icon/android/96.png" />
        <icon background="@color/background" density="xxhdpi" foreground="res/icon/android/144-adaptive-fg.png" src="res/icon/android/144.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/icon/android/192-adaptive-fg.png" src="res/icon/android/192.png" />
        <splash density="hdpi" src="res/screen/android/splash.png" />
        <splash density="ldpi" src="res/screen/android/splash.png" />
        <splash density="mdpi" src="res/screen/android/splash.png" />
        <splash density="xhdpi" src="res/screen/android/splash.png" />
        <splash density="xxhdpi" src="res/screen/android/splash.png" />
        <splash density="xxxhdpi" src="res/screen/android/splash.png" />
        <splash density="port-hdpi" src="res/screen/android/splash.png" />
        <splash density="port-ldpi" src="res/screen/android/splash.png" />
        <splash density="port-mdpi" src="res/screen/android/splash.png" />
        <splash density="port-xhdpi" src="res/screen/android/splash.png" />
        <splash density="port-xxhdpi" src="res/screen/android/splash.png" />
        <splash density="port-xxxhdpi" src="res/screen/android/splash.png" />
    </platform>
    <feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
    <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>
    <plugin name="cordova-plugin-android-gpsdetect" spec="~0.0.3" />
    <plugin name="cordova-plugin-geolocation" spec="~4.1.0" />
    <plugin name="cordova-plugin-headercolor" spec="~1.0.0" />
    <plugin name="cordova-plugin-navigationbar-color" spec="~0.1.0" />
    <plugin name="cordova-plugin-splashscreen" spec="~6.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.4" />
</widget>
