
#explore ons-toolbar .left {
  padding: 0 0 0 16px;
}


.toolbar-button--material {
  padding: 0;
  width: 32px;
  text-align: center;
  color: white;
}


.back-button--material__icon {
  fill: white;
}

ons-toolbar-button[icon="md-eye-off"],
ons-toolbar-button[icon="md-bookmark-outline"] {
  color: rgba(255, 255, 255, 0.5);
}

#map {
  display: block;
}

#gps-button {
  font-size: 22px;
}

#gps-button ons-icon[spin] {
  color: #468;
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  margin: 5px 0 0 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  font: 12px Roboto;
  font-weight: 700;
}

.marker-cluster span {
  line-height: 30px;
  color: #fff;
}

.marker-cluster-small      { background-color: rgba(68, 153, 204, 0.5); }
.marker-cluster-small  div { background-color: rgba(68, 153, 204, 0.8); }
.marker-cluster-medium     { background-color: rgba(51, 128, 170, 0.5); }
.marker-cluster-medium div { background-color: rgba(51, 128, 170, 0.8); }
.marker-cluster-large      { background-color: rgba(34, 102, 136, 0.5); }
.marker-cluster-large  div { background-color: rgba(34, 102, 136, 0.8); }

.leaflet-popup-content-wrapper {
  border-radius: 5px;
  text-align: center;
}

.popup-wrapper * {
  margin-left: auto;
  margin-right: auto;
}

.popup-wrapper .popup-title {
  margin: 0 16px 8px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
}

.popup-wrapper ons-button {
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  font-weight: 700;
}

.popup-wrapper .zmdi {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 22px;
  text-align: center;
}

.popup-wrapper .zmdi-eye-off,
.popup-wrapper .zmdi-bookmark-outline {
  color: #ccc;
}

.popup-wrapper .zmdi-eye,
.popup-wrapper .zmdi-bookmark {
  color: #48b;
}

.popup-wrapper.visited          .zmdi-eye,
.popup-wrapper:not(.visited)    .zmdi-eye-off,
.popup-wrapper.bookmarked       .zmdi-bookmark,
.popup-wrapper:not(.bookmarked) .zmdi-bookmark-outline {
  display: inline-block;
}

.popup-wrapper:not(.visited)    .zmdi-eye,
.popup-wrapper.visited          .zmdi-eye-off,
.popup-wrapper:not(.bookmarked) .zmdi-bookmark,
.popup-wrapper.bookmarked       .zmdi-bookmark-outline {
  display: none;
}

#marker-list {
  display: none;
}

#marker-list ons-list-item .center {
  display: block;
}

#marker-list .distance {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
}

#marker-list.sorted-alphabetically .distance {
  display: none;
}

#marker-list .right {
  padding: 0 4px 0 0;
}

#marker-list .zmdi {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 22px;
  text-align: center;
}

#marker-list .zmdi-eye-off,
#marker-list .zmdi-bookmark-outline {
  color: #ccc;
}

#marker-list .zmdi-eye,
#marker-list .zmdi-bookmark {
  color: #48b;
}

#marker-list ons-list-item.visited          .zmdi-eye,
#marker-list ons-list-item:not(.visited)    .zmdi-eye-off,
#marker-list ons-list-item.bookmarked       .zmdi-bookmark,
#marker-list ons-list-item:not(.bookmarked) .zmdi-bookmark-outline {
  display: inline-block;
}

#marker-list ons-list-item:not(.visited)    .zmdi-eye,
#marker-list ons-list-item.visited          .zmdi-eye-off,
#marker-list ons-list-item:not(.bookmarked) .zmdi-bookmark,
#marker-list ons-list-item.bookmarked       .zmdi-bookmark-outline {
  display: none;
}

#filter-dialog .dialog-container {
  padding: 16px;
}

#filter-dialog h1 {
  margin-top: 0;
  font-size: 20px;
}

#filter-dialog table {
  width: 100%;
}

#filter-dialog th {
  font-weight: 700;
  padding: 0;
}

#filter-dialog td {
  padding: 0;
}

#filter-dialog th:not(:first-child) {
  text-align: center;
}

#filter-dialog tr:not(:last-child) th, #filter-dialog tr:not(:last-child) td {
  padding-bottom: 8px;
}

#filter-dialog th:not(:last-child), #filter-dialog td:not(:last-child) {
  padding-right: 8px;
  width: 40px;
}

#filter-dialog ons-radio {
  display: block;
  text-align: center;
}

#distance-filter-wrapper {
  text-align: center;
}

#filter-dialog ons-button {
  float: right;
  margin-top: 16px;
  font-weight: 700;
}

#details.visited          ons-toolbar-button[icon="md-eye"             ],
#details:not(.visited)    ons-toolbar-button[icon="md-eye-off"         ],
#details.bookmarked       ons-toolbar-button[icon="md-bookmark"        ],
#details:not(.bookmarked) ons-toolbar-button[icon="md-bookmark-outline"] {
  display: inline-block;
}

#details:not(.visited)    ons-toolbar-button[icon="md-eye"             ],
#details.visited          ons-toolbar-button[icon="md-eye-off"         ],
#details:not(.bookmarked) ons-toolbar-button[icon="md-bookmark"        ],
#details.bookmarked       ons-toolbar-button[icon="md-bookmark-outline"] {
  display: none;
}

ons-toolbar-button[icon="md-bookmark-outline"] {
  margin-right: 4px;
}

.marker-date {
  font-style: italic;
  color: #888;
}

.marker-date ons-icon {
  width: 20px;
}

header.marker {
  margin: 0;
  padding: 8px 16px 0;
}

header.marker h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
}

header.marker .marker-date {
  margin: 4px 0 0;
  font-size: 14px;
}

.card .marker-date {
  margin: 16px 0;
  font-size: 14px;
}

.card p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.card *+p {
  margin-top: 8px;
}

.segment.single .segment__button {
  color: rgba(0,0,0,.38);
  background: #fafafa;
}

*+.segment {
  margin-top: 16px;
}

.segment__item {
  width: 100px;
}

.segment__button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.card .marker-date,
.marker-figure,
.marker-text {
  display: none;
}

.card .marker-date.active,
.marker-figure.active,
.marker-text.active {
  display: block;
}

figure {
  margin: 0;
  padding: 8px;
  text-align: center;
  background: #eee;
  color: #888;
}

figure.nodata {
  font-size: 14px;
  font-style: italic;
}

*+figure {
  margin-top: 16px;
}

figure ons-progress-circular {
  margin: 30px auto;
}

figure img {
  display: block;
  margin: 0 auto;
}

figure figcaption {
  margin-top: 8px;
  font-size: 12px;
}

.marker-figure,
.marker-text.active {
  margin-top: 16px;
}

.marker-text h2 {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 700;
}

.marker-text h3 {
  margin: -8px 0 16px;
  font-size: 16px;
  font-weight: 700;
}

.marker-text p.nodata {
  font-style: italic;
  color: #888;
}

.card.location ons-button {
  float: right;
  margin: 0 0 16px 16px;
}

.card.location ons-button+p {
  margin-top: 0;
}

#about .page__background {
  background: #fff;
}

#about .page__content {
  padding: 16px;
}

#about-logo {
  display: block;
  margin: 0 auto 24px;
}

#about .blurb {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  text-align: center;
}

#about .blurb strong {
  color: #246;
}

#about h2 {
  margin: 24px 0 8px;
  padding: 16px 0 0;
  border-top: 1px solid #ccc;
  font-size: 20px;
  font-weight: 700;
}

#about p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

#about p+p {
  margin-top: 8px;
}

#credits {
  margin: 24px 0;
  text-align: center;
}

#credits dt {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #468;
}

#credits dd {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

#credits dd+dt {
  margin-top: 16px;
}

#about footer {
  margin: 24px 0 0;
  padding: 8px 0 0;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #468;
}
