ons-button {
  font-weight: 700 !important;
}

#explore ons-toolbar .left {
  padding: 0 0 0 16px;
}


.toolbar-button--material {
  padding: 0;
  width: 32px;
  text-align: center;
  color: white;
}

.back-button--material__icon {
  fill: white;
}

ons-toolbar-button[icon="md-eye-off"],
ons-toolbar-button[icon="md-bookmark-outline"] {
  color: rgba(255, 255, 255, 0.5);
}

#init-progress {
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
}

#map, #main-list {
  position: absolute;
  transition: opacity;
  transition-duration: 0.5s;
}

#map {
  z-index: 1;
}

#gps-button {
  font-size: 22px;
}

#gps-button ons-icon[spin] {
  color: #468;
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  margin: 5px 0 0 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 15px;
  font: 12px Roboto;
  font-weight: 700;
}

.marker-cluster span {
  line-height: 30px;
  color: #fff;
}

.marker-cluster-small      { background-color: rgba(68, 153, 204, 0.5); }
.marker-cluster-small  div { background-color: rgba(68, 153, 204, 0.8); }
.marker-cluster-medium     { background-color: rgba(51, 128, 170, 0.5); }
.marker-cluster-medium div { background-color: rgba(51, 128, 170, 0.8); }
.marker-cluster-large      { background-color: rgba(34, 102, 136, 0.5); }
.marker-cluster-large  div { background-color: rgba(34, 102, 136, 0.8); }

.leaflet-popup-content-wrapper {
  border-radius: 5px;
  text-align: center;
}

.popup-wrapper * {
  margin-left: auto;
  margin-right: auto;
}

.popup-wrapper .popup-title {
  margin: 0 16px 8px;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
}

.popup-wrapper ons-button {
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
}

.popup-wrapper .zmdi {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 22px;
  text-align: center;
}

.popup-wrapper .zmdi-eye-off,
.popup-wrapper .zmdi-bookmark-outline {
  color: #ccc;
}

.popup-wrapper .zmdi-eye,
.popup-wrapper .zmdi-bookmark {
  color: #48b;
}

.popup-wrapper.visited          .zmdi-eye,
.popup-wrapper:not(.visited)    .zmdi-eye-off,
.popup-wrapper.bookmarked       .zmdi-bookmark,
.popup-wrapper:not(.bookmarked) .zmdi-bookmark-outline {
  display: inline-block;
}

.popup-wrapper:not(.visited)    .zmdi-eye,
.popup-wrapper.visited          .zmdi-eye-off,
.popup-wrapper:not(.bookmarked) .zmdi-bookmark,
.popup-wrapper.bookmarked       .zmdi-bookmark-outline {
  display: none;
}

#main-list {
  z-index: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

#main-list ons-search-input input {
  border-radius: 0;
  font-size: 16px;
}

#main-list #search-results-msg {
  display: none;
  z-index: 1;
  padding: 8px 16px;
  font-size: 14px;
  font-style: italic;
  color: #468;
  background: #f0f4f8;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24), 0 1px 0 0 rgba(255,255,255,.06) inset; /* Copied from Onsen UI */
}

#main-list ons-list {
  overflow-y: auto;
}

#main-list ons-list-item .center {
  display: block;
}

#main-list .address,
#main-list .distance {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
}

#main-list ons-list:not(.sorted-alphabetically) .address,
#main-list ons-list.sorted-alphabetically       .distance {
  display: none;
}

#main-list .right {
  padding: 0 4px 0 0;
}

#main-list .zmdi {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 22px;
  text-align: center;
}

#main-list .zmdi-eye-off,
#main-list .zmdi-bookmark-outline {
  color: #ccc;
}

#main-list .zmdi-eye,
#main-list .zmdi-bookmark {
  color: #48b;
}

#main-list ons-list-item.visited          .zmdi-eye,
#main-list ons-list-item:not(.visited)    .zmdi-eye-off,
#main-list ons-list-item.bookmarked       .zmdi-bookmark,
#main-list ons-list-item:not(.bookmarked) .zmdi-bookmark-outline {
  display: inline-block;
}

#main-list ons-list-item:not(.visited)    .zmdi-eye,
#main-list ons-list-item.visited          .zmdi-eye-off,
#main-list ons-list-item:not(.bookmarked) .zmdi-bookmark,
#main-list ons-list-item.bookmarked       .zmdi-bookmark-outline {
  display: none;
}

#main-list #missing-info-notice {
  display: none;
  padding: 0 16px;
}

#filter-dialog .dialog-container {
  padding: 16px;
}

#filter-dialog h1 {
  margin-top: 0;
  font-size: 20px;
}

#filter-dialog tr.new-section td {
  padding-top: 8px;
}

#filter-dialog th {
  font-weight: 700;
  padding: 0;
}

#filter-dialog td {
  padding: 0;
  height: 32px;
  vertical-align: middle;
}

#filter-dialog td:first-child {
  padding-right: 16px;
}

#filter-dialog td:not(:first-child):not(:last-child) {
  width: 50px;
}

#filter-dialog td:not([colspan]):last-child {
  width: 20px;
}

#filter-dialog ons-select {
  width: 100%;
}

#filter-dialog ons-button {
  float: right;
  margin-top: 16px;
}

#details.visited          ons-toolbar-button[icon="md-eye"             ],
#details:not(.visited)    ons-toolbar-button[icon="md-eye-off"         ],
#details.bookmarked       ons-toolbar-button[icon="md-bookmark"        ],
#details:not(.bookmarked) ons-toolbar-button[icon="md-bookmark-outline"] {
  display: inline-block;
}

#details:not(.visited)    ons-toolbar-button[icon="md-eye"             ],
#details.visited          ons-toolbar-button[icon="md-eye-off"         ],
#details:not(.bookmarked) ons-toolbar-button[icon="md-bookmark"        ],
#details.bookmarked       ons-toolbar-button[icon="md-bookmark-outline"] {
  display: none;
}

ons-toolbar-button[icon="md-bookmark-outline"] {
  margin-right: 4px;
}

.marker-date {
  font-style: italic;
  color: #888;
}

.marker-date ons-icon {
  width: 20px;
}

header.marker {
  margin: 0;
  padding: 8px 16px 0;
}

header.marker h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
}

header.marker .marker-date {
  margin: 4px 0 0;
  font-size: 14px;
}

.card .marker-date {
  margin: 16px 0;
  font-size: 14px;
}

.card p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.card *+p {
  margin-top: 8px;
}

.segment.single .segment__button {
  color: rgba(0,0,0,.38);
  background: #fafafa;
}

*+.segment {
  margin-top: 16px;
}

.segment__item {
  width: 100px;
}

.segment__button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.card .marker-date,
.marker-figure,
.marker-text {
  display: none;
}

.marker-text * {
  user-select: text;
}

.card .marker-date.active,
.marker-figure.active,
.marker-text.active {
  display: block;
}

figure {
  margin: 0;
  padding: 8px;
  text-align: center;
  background: #eee;
  color: #888;
}

figure.nodata {
  font-size: 16px;
  font-style: italic;
}

figure.nodata ons-button {
  margin-top: 8px;
  font-size: 14px;
  font-style: normal;
}

*+figure {
  margin-top: 16px;
}

figure ons-progress-circular {
  margin: 30px auto;
}

figure .placeholder, figure img {
  display: block;
  margin: 0 auto;
  background: #ddd;
}

figure figcaption {
  margin-top: 8px;
  font-size: 12px;
}

.marker-figure,
.marker-text.active {
  margin-top: 16px;
}

.marker-text h2 {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 700;
}

.marker-text h3 {
  margin: -8px 0 16px;
  font-size: 16px;
  font-weight: 700;
}

.marker-text p.nodata {
  font-style: italic;
  color: #888;
  user-select: none;
}

.translate-link {
  display: block;
  margin-top: 0.5em;
  font-size: 14px;
  text-align: right;
  font-style: italic;
  color: #68a;
}

.alt-inscription {
  margin: 16px 0;
  background: #eee;
}

.alt-inscription .blurb {
  margin-bottom: 12px;
  padding: 12px;
  font-style: italic;
  color: #666;
  background: #ddd;
}

.alt-inscription a {
  color: #246;
}

.alt-inscription p:not(.blurb) {
  margin: 0;
  padding: 0 12px 12px;
}

.wikimedia-links {
  margin: 16px -16px -16px;
}

.wikimedia-links > div:nth-child(1) {
  background: rgba(68, 136, 187, 0.15);
}

.wikimedia-links > div:nth-child(2) {
  background: rgba(68, 136, 187, 0.3);
}

.wikimedia-links ons-icon {
  display: block;
  float: right;
  margin: 0 0 0 8px;
  font-size: 36px;
  color: #468;
}

.wikimedia-links a {
  color: #246;
}

.wikipedia-links {
  padding: 16px;
}

.wikipedia-links h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.commons-link {
  padding: 16px;
  font-size: 14px;
}

.card.location {
  min-height: 68px;
}
.card.location ons-button {
  float: right;
  margin: 0 0 16px 16px;
  font-size: 22px;
}

#loc-menu .popover__content {
  min-width: 275px;
}

.card.location ons-button+p {
  margin-top: 0;
}

.misc-page .page__background {
  background: #fff;
}

.misc-page .page__content {
  padding: 16px;
}

.misc-page h2 {
  margin: 24px 0 8px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.misc-page p,
#resources p {
  line-height: 1.5;
}

.misc-page p a {
  color: #468;
}

.end-of-page {
  font-size: 22px;
  text-align: center;
  color: #468;
}

#contributing .blurb,
#resources .blurb,
#privacy-policy .blurb {
  font-size: 18px;
  line-height: 28px;
  color: #468;
}

#resources .blurb {
  padding: 0 16px;
}

#resources ons-card {
  margin: 12px;
}

#resources header {
  margin: -16px -16px 16px;
  padding: 12px 16px;
  background: rgba(68, 136, 187, 0.4);
}

#resources h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

#resources h2 a {
  color: #468;
}

#resources h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #666;
}

#about-logo {
  display: block;
  margin: 24px auto;
}

#about .blurb {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
  text-align: center;
}

#about .blurb strong {
  color: #246;
}

#about .socmed-links {
  margin-top: 24px;
  padding: 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#about .socmed-links a {
  display: inline-block;
  width: 48px;
  height: 48px;
}

#about .socmed-links a+a {
  margin-left: 24px;
}

#about .socmed-links img {
  width: 48px;
}

#about p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

#about p+p {
  margin-top: 8px;
}

#credits {
  margin: 24px 0;
  text-align: center;
}

#credits dt {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #468;
}

#credits dd {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

#credits dd+dt {
  margin-top: 16px;
}

#about footer {
  margin: 24px 0 0;
  padding: 8px 0 0;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #468;
}
